@import '../../css/variables.css';

#slideshow {
    position: relative;
    width: 100%;
    height: calc((100vw - 20px) * 9 / 16);
}

#slideshow>div {
    position: absolute;
    top: 10px;
    width: 100%;
}

.SlideShowImg {
    width: 100%;
    height: -webkit-fill-available;
}