.messageBox {
  background: #F3F3F3;
  border-radius: 7.5px;
  padding: 6px 9px 8px 7px;
  /* padding: 5px 20px; */
  color: white;
  display: inline-block;
  max-width: 80%;
  width: fit-content;
  line-height: 22px;
}

.messageText {
  color: var(--chat-text-color);
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 14px;
  word-wrap: break-word;
  text-align: start;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  flex-direction: row;
  margin-bottom: 12px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: var(--chat-text-color);
  /* color: #828282; */
  letter-spacing: 0.3px;
  font-size: 12px;
  margin: 6px 0px;
  /* width: fit-content; */
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  text-align: start;
  color: var(--chat-text-color);
}

/* .colorDark {
  color: #353535;
} */

.backgroundBlue {
  background: var(--outgoing-background);
  /* marker-end: 0; */
  align-self: flex-end;
  text-align: -webkit-right;
}

.backgroundLight {
  background: #F3F3F3;
  align-self: flex-start;
}
.avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--red-color);
}
.avatarMessageMe {
  width: 100%;
  justify-items: right;
  display: grid;
  padding-right: 10px;
}
.avatarMessageOther {
  width: 100%;
  justify-items: left;
  display: inline-grid;
  padding-left: 10px;
}
.sender {
  font-weight: 500;
}
.message-header {
  display: flex;
}

.role {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
    color: #999;
}

.message-header-blue {
  text-align-last: end;
    width: fit-content;
}

.message-header-light {
  text-align-last: start;
  width: fit-content;
  float: left;
}
