.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1D;
}

.ChatContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}

.MuiListItem-container {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .outerContainer {
    height: 100%;
  }

  .MuiListItemSecondaryAction-root {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 60%;
  }

  #return-chat {
    display: none;
  }
}

.ChatHeader {
  background-color: #3f42572b;
}

.MuiListItemAvatar-root {
  display: contents !important;
}

.MuiListItemText-multiline {
  margin-left: 10px !important;
}