.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}
.button3:hover {
    background-color: #4095c6;
}
@media all and (max-width: 30em) {
    button3 {
        display: block;
        margin: 0.2em auto;
   }
}

.navButton {
    /* background-color: #4CAF50; */
    border: none;
    background-color: transparent;
    /* color: #; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
