.catalogContainer {
    text-align: left;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
;;
}
.vehicleCatalogBarImage {
    background-color: #ccc;
    border: 1px solid;
    width: 100vw;
    height: 150px;
    display: block;
    bottom: 10px;
    object-fit: fill;
    background-image: url(https://images.pexels.com/photos/360399/pexels-photo-360399.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
view.CatalogList {
    width: 75vw;
    height: 75vh;
    display: block;
    align-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    align-self: stretch;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.vehicleOrderUpdateImage{
    padding-right: 10px;
    width: 450px;
    height: 290px;
    object-fit: cover;
}
.catalogImage {
    background-image: url("../../images/background.jpg");
    background-position: center;
    background-color: #ccc;
    border: 1px solid;
    width: 100vw;
    height: 150px;
    bottom: 10px;
    object-fit: fill;
}
.vehicleCatalogImage{
    /*margin-top: 30px;*/
    /*margin-left: 30px;*/
    width: 300px;
    height: 150px;
    object-fit: cover;
}
.CatalogText{
    padding-top: 15px;
    padding-left: 30px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: Arial;
}
.catalogItemLeftSide{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.catalogHeaderText {
    color: white;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 900;
}
.circularProgress{
    text-align: center;
    /* align-content: center; */
    /* align-self: center; */
    /* position: unset; */
    display: block;
    padding: 100px;
}
.mainContent {
    flex-direction: row;
    display: flex;
    background-color: #222222;
    width: 100vw;
    height: 84.9vh;

}
.searchBox{
    flex-direction: column;
    display: flex;
    padding: 20px;
    align-content: flex-end;
    width: 240px;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.searchItemText{
    padding-top: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: Arial;
    color: white;
}
.plusMinusIcons{
    height: 10px;
    width: 10px;
    padding-right: 5px;
}
.plus {
    position:relative;
    border: 1px dotted rgba(255,255,255, 1);
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11);
}
.searchItemTextHeader{
    padding-top: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: Arial;
    color: white;
}
.searchList{
    flex-direction: column;
    display: flex;
}

.UpdateListButton:hover {
    background-color: white;
    color: black;
    border: 2px solid brown;
}
.UpdateListButton{
    background-color: brown;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.actionButton:hover{
    background-color: white;
    color: black;
    border: 2px solid brown;
}
.actionButton{
    background-color: brown;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 7px;
    transition-duration: 0.4s;
    padding: 5px;
    margin: 10px;
}