@import '../../css/variables.css';

* {
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: var(--regular-font);
}


.PickerLabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.PickerLabelContainer {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.PickerListContainer {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.PickerRow:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  .PickerLabelContainer,
  .PickerListContainer {
    width: 100%;
    margin-top: 0;
  }
}