.comment-main {
    position: relative;
    padding: 15px 0 10px;
    min-height: 100px;
    text-align: start;
    /* padding-left: 125px; */
    border-bottom: 1px solid #E9E9E9;
}

.writer-name-container {
    display: flex;
    position: relative;
    max-width: calc(100% - 7vw);
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.writer-name-title {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
}

.comment-date-container {
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.comment-date-container span {
    color: #999;
}

.comment-text {
    font-size: 13px;
    /* margin-right: 1px; */
}

.comment-likes-container {
    margin-top: 10px;
    display: -webkit-inline-box;
    -webkit-box-pack: end;
    width: 100%;
}

.comment-likes-container svg {
/* stroke: #999; */
height: 16px;
width: 16px;
margin: 5px;
cursor: pointer;
}

.comment-like svg {
    transform: translateY(-3px);
}

#checked svg{
    stroke: #0242AE;

}
#unchecked svg {
    stroke: #999;

}

.comment-dislike {
    display: inline-flex;
}
.comment-like {
    display: inline-flex;
}
.comment-dislike-num {
    display: inline-flex;

}
.comment-like-num {
    display: inline-flex;

}

#custom-user-rate {
    font-size: 1.3rem;
}