@import '../../css/variables.css';

* {
  box-sizing: border-box;
}

.ChatRoomsContainer {
  height: calc(100vh - 64px);
  background-color: var(--light-gray-color);
}

.StepperContainerDiv {
  height: fit-content;
  width: 100%;
}