@import '../../css/variables.css';

.NavigationContainer {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--red-color);
    position: absolute;
    top: 71.44px;
    width: 200px;
    height: calc(100vh - 71.44px);
    animation-name: opening;
    animation-duration: 300ms;
}
@keyframes opening {
    0%   {width: 0px; height: 0vh}
    100% {width: 200px; height: 91vh}
}
.item {
    top: 10px;
}
.navLink {
    border: none;
    background-color: transparent;
    text-align: start;
    font-family: var(--regular-font);
    color: var(--light-gray-color);
    padding-inline-start: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 2px;
    cursor: pointer;
}