@import '../../css/variables.css';

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: var(--regular-font);
}

input[type=color] {
  width: 100%;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: var(--regular-font);
  height: 2.5rem;
}

.TextInputLabel {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.TextInputLabelContainer {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.TextInputTextContainer {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.TextInputRow:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  .TextInputLabelContainer,
  .TextInputTextContainer,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}