@import '../../css/variables.css';

* {
  box-sizing: border-box;
}
.AddVehicleContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray-color);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
