@import '../../css/variables.css';

* {
  box-sizing: border-box;
}
.AddVehicleContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray-color);
  /* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
  max-width: 800px;
  margin: auto;
}

.AddVehicleUploadImagesContainer {
  flex: 40%;
  height: fit-content;
  /* display: flow-root; */
  /* display: table; */
  display: contents;
}

.AddVehicleDetailsContainer {
  flex: 50%;
  padding: 0 20px;
}

.AddVehicleButton {
  flex: 100%;
}

.SaveBottonAddVehicle {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .AddVehicleContainer {   
    flex-direction: column;
  }
}
