@import '../../css/variables.css';

* {
  box-sizing: border-box;
}
.VehicleContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray-color);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.VehicleUploadImagesContainer {
  flex: 40%;
}

.VehicleDetailsContainer {
  flex: 50%;
  padding: 0 20px;
}

.VehicleButton {
  flex: 100%;
}

.BottonAddVehicle {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .AddVehicleContainer {   
    flex-direction: column;
  }
}
