@import '../../css/variables.css';
* {
  box-sizing: border-box;
}
.CatalogContainer {
  padding: 20px;
  min-height: calc(100vh - 71.44px - 30px);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray-color);
}
@media screen and (max-width: 700px) {
  .CatalogContainer {   
    flex-direction: column;
  }
}