@import '../../css/variables.css';

.AppHeader {
  display: absolute;
  z-index: 100;
  position: sticky;
  padding-inline-start: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--silver-color);
  /* object-fit: cover; */
  /* background-image: url(../../images/header_background.jpg); */
}
.AppLogo {
  position: absolute;
  height: calc(var(--header-height) - 3px);
  width: 86.38px;
  background-color: var(--red-color);
  padding: 3px 0 0 3px;
  margin-block-end: 0;
  right: 0;
}
.react-icons {
  vertical-align: middle;
  height: 100%;
  width: 100px;
  color: var(--light-gray-color);
  position: absolute;
  align-self: auto;
  padding: 15px;
  cursor: pointer;
}
