@import '../../css/variables.css';

.CartItem {
    margin: 10px;
    display: flex;
    border-width: 1px;
    background-color: var(--white-color);
}

.MuiIconButton-colorPrimary {
    color: var(--filter-color) !important;
}

.CartItemImage {
    height: 100%;
    width: calc(200px * 4 / 3);
    ;
    padding: 15px;
}

.VehicleCardHeader {
    flex: content;
}

.VehicleCardBody {
    flex: 85%;
    margin: 10px 10px 10px 20px;
}

.VehicleCardFooter {
    background-color: transparent;
    flex: 10%;
    margin: 10px;
}

.ModelText {
    font-size: 20px;
    font-family: var(--regular-font);
    font-weight: bold;
    margin-bottom: 10px;
}

.VehicleBF {
    display: flex;
}

.cart-quantity {
    display: table;
}

.cart-quantity-title {
    margin-bottom: 8px;
    display: inherit;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}

.cart-quantity-info {
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 36px;
    font-size: 12px;

}

.cart-price {
    display: grid;
}

.cart-price-title {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
    .CartItem {
        height: 200px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .CartItem {
        flex-direction: column;
        width: calc(200px * 4 / 3);
        height: fit-content;
    }

    .HomeMainImageCSS {
        width: 100%;
        height: calc((100vw - 40px) * 9 / 16);
    }

    .HomeImageText {
        width: 100%;
        height: calc((100vw - 40px) * 9 / 16);
        font-size: 9vw;
    }
}