@import '../../css/variables.css';

* {
    box-sizing: border-box;
  }
  
  .FooterColumn {
    font-family: var(--regular-font);
      text-align: center;
    flex: 50%;
    padding: 10px;
    height: fit-content;
  }

  @media screen and (max-width: 768px) {
    .FooterContainer {   
      flex-direction: column;
    }
  }
.FooterContainer {
    display: flex;
  flex-wrap: wrap;
    padding: 5px;
    height: fit-content;
    background-color: var(--silver-color);
    background-size: auto;
}

.CopyRight {
    flex: 100%;
    padding: inherit;
    height: 30px;
    text-align: center;
    color: var(--light-gray-color);
    font-family: var(--regular-font);
    font-size: 14px;
}
.GoogleMapLocation {
    width: 100%;
    height: 250px;
    border:0;
}

.FooterTitle {
    color: var(--light-gray-color);
}