
@import '../../css/variables.css';

* {
    box-sizing: border-box;
  }
.ResetPasswordModal {
    /* display: flex; */
    top: 0;
    justify-content: center;
    z-index: 101;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.ResetPasswordModalContent {
    top: 3px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 700px;
    align-self: center;
    border-radius: 10px;
    background-color: #fefefe;
    max-height: 100%;
    overflow: auto;
}
.ResetPasswordDivTitle {
    -webkit-text-stroke: var(--red-color);
    -webkit-text-stroke-width: medium;
    background-image: url(../../images/sign_up_image.jpeg);
    background-size: cover;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.ResetPasswordTitle{
    padding-top: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-size: 40px;
    line-height: normal;
    font-family: var(--regular-font);
    color: white;
    font-weight: bold;
}

.ResetPasswordModalRealContent{
    background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.CloseResetPasswordModalDiv {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .ResetPasswordModalContent {
        width: auto;
        max-height: 100%;
        left: 3px;
        overflow: auto;
        right: 3px;
    }
  }
