@import '../../css/variables.css';

.VehicleCard {
    height: fit-content;
    width: 353px;
    border-width: 1px;
    background-color: tomato;
    border-color: turquoise;
}

.VehicleCardImage {
    height: 100%;
    width: 100%;
}

.VehicleCardHeader {
    height: 233px;
    width: 100%;

}

.VehicleCardBody {
    background-color: violet;
    height: 30px;

}

.VehicleCardFooter {
    background-color: teal;
    height: 40px;
}