* {
    box-sizing: border-box;
  }
.ChatButtonDiv {
    padding-bottom: 16px;
    position: fixed;
    bottom: 0;
    padding-left: 16px;
    padding-right: 0px;
    left: 0px;
    right: inherit;
    z-index: 100;
    display: block;
    /* width: 100px;
    height: 96px;
    left: 0!important;
    display: initial!important;
    bottom: 0!important;
    position: fixed!important;
    z-index: 100;
    background-color: transparent;
    /* margin: 10px; */
    /* padding: 16px; */
}