.catalogContainer {
    align-content: stretch;
    text-align: left;
    background-color: white;
    width: 100vw;
    height: 98vh;
}
.addVehicleBarImage {
    background-color: #ccc;
    border: 1px solid;
    width: 100vw;
    height: 150px;
    display: block;
    bottom: 10px;
    object-fit: fill;
    background-image: url(https://images.pexels.com/photos/1397751/pexels-photo-1397751.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.addVehicleHeaderText {
    color: white;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 900;
}
.addVehicleBox {
    padding-left: 10vw;
    padding-top: 5vh;
    width: 100vw;
    height: 83vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255,255,255, 1);
}
input[type=text] {
    margin-left: 5px;
    background-color: unset;
    border: none;
    border-bottom: 2px solid black;
    height: 25px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
    width: 365px
}
input[type=number] {
    margin-left: 5px;
    background-color: unset;
    border: none;
    border-bottom: 2px solid black;
    height: 25px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
    width: 365px
}
.vehicleItemBox {
    margin-top: 30px;
    width: 570px;
    justify-content: space-between;
    display: flex;
}
.vehicleImage{
    margin-top: 30px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.addVehicleButton{
    margin-top: 50px;
    background-color: rgba(139, 0, 0,0.9);
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgba(139, 0, 0,0.9);

}
.addVehicleButton:hover {
    background-color: rgba(139, 0, 0,0.5);
    color: black;
}