@import '../../css/variables.css';

* {
  box-sizing: border-box;
}
.VehicleDetailsContainer {
  margin: auto;
    width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray-color);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.VehicleDetailsImagesContainer {
  flex: 30%;
}

.DetailsVehicleDetailsContainer {
  flex: 30%;
  padding: 0 20px;
  text-align: center;
}

.VehicleDetailsButtons {
  flex: 100%;
}

.BottonAddVehicle {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .AddVehicleContainer {   
    flex-direction: column;
  }
}
