.catalogContainer {
  text-align: left;
  background-color: white;
  width: 100vw;
  height: 98vh;
}
view.item {
  height: 130px;
  display: block;
  background-color: rgba(255,255,255, 0.9);
  border: 2px solid rgba(255,255,255, 0.9);
  border-radius: 5px;
}
view.list {
  width: 75vw;
  height: 75vh;
  display: block;
  overflow-y: scroll;
  align-self: stretch;
  margin-top: 20px;
  padding-left: 100px;
}
view.item:hover {
  width: 75vw;
  height: 130px;
  display: block;
  background-color: rgba(255,255,255, 0.7);
  border: 2px solid rgba(255,255,255, 0.7);
  border-radius: 5px;
}
.catalogImage {
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-color: #ccc;
  border: 1px solid;
  width: 100vw;
  height: 150px;
  display: block;
  bottom: 10px;
  object-fit: fill;
}